body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    background-image: url("images/change3.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.output, .header{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    padding-right: 15px;
    color:crimson;
}

#output-container{
    display:flex;
    justify-content: center;

}

